table td {
    padding-right: 10px;
}

#skills-table, .info-table {
    border-collapse: collapse;
}

#skills-table tr, .info-table tr {
    border-bottom: dotted black 1px;
}

#skills-table td:not(:first-child), #ability-scores td:not(:first-child) {
    text-align: center;
}

#skills-table td:nth-child(2), #ability-scores td:first-child {
    font-family: monospace;
}

.info-table {
    line-height: 1.5em;
}

.info-table tr td:first-child::after {
    content: ": ";
}

h3 a, h2 a {
    text-decoration: none;
}

figure {
    max-width: 400px;
}

#bat-photo {
    width: 200px;
}
