body {
    display: block;
}

h1 {
    margin: 0;
}

h2, h3 {
    margin: 5px 0;
}

.resume {
    margin: 0;
}

.resume > header {
    background: #111;
    color: #eee;

    padding: 20px;
}

/* Contains the sidebar and the resume main content. */
.container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

aside {
    flex: 1 1 content;
    width: 100%;

    background: #f0f0f0;
    color: #111;
}

/* The resume main content. */
.content {
    flex: 1 1 content;

    max-width: 75ch;
}

@media (min-width: 1001px) {
    .content, aside {
        padding: 20px 60px;
    }
}

@media (max-width: 1000px) {
    .content, aside {
        padding: 20px;
    }
}

.experience h3 {
    display: inline-block;
}

.experience-duration {
    float: right;
}

li {
    padding: .25em 0;
}
