/*
 * The body consists of a nav bar and the website's main content.
 * The main content should take up the entire height of the viewport.
 */
body {
    display: flex;
    flex-flow: column;
    max-width: 60ch;
    min-height: 100vh;
    margin: auto;
    
    background-color: #fafafa;

    font-size: 1.4rem;
    font-family: monospace;
    line-height: 1.8em;
}

figure {
    margin: 16px 0;
    padding: 16px;
    border-style: solid;
}

figcaption {
    font-weight: bold;
}

dl {
    margin: 20px;
}

dl div:not(:last-child) {
    margin-bottom: 10px;
}

dl dd, ul li:not(:first-child) {
    margin-top: 5px;
}

dl.inline dt {
    width: 10ch;
}

dl.inline dt:after {
    content: ":";
}

dl.inline dd {
    margin: 0;
}

dl.inline dt, dl.inline dd {
    display: inline-block;
}
