<!DOCTYPE html>
<html lang="en-US">
<meta charset="utf-8">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="/assets/style.css">
<link rel="icon" type="image/png" href="/assets/favicon.png">
<link rel="canonical" href="{{ site.url }}{{ page.permalink }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<header>
  <span class="site-title">
    <a href="/">James T. Martin</a>
  </span>
    
  <nav>
    <ul>
      <li><a href="/projects/">Projects</a>
      <li><a href="/resume/">Resume</a>
      <li><a href="/contact">Contact</a>
    </ul>
  </nav>
</header>

<main>{{ content }}</main>
